*.local.*

.direnv
result

Part-2.md
.idea/challenge.iml
.idea/misc.xml
.idea/modules.xml
.idea/sonarlint/issuestore/4/b/4b569f42a6967dec04275af54f4ca9ab6a4eee64
.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
.idea/sonarlint/issuestore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302
.idea/sonarlint/issuestore/index.pb
.idea/vcs.xml
